/* Default Full width 1 Card */
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 15px;
  margin-top: 32px;
  margin-bottom: 32px;
  color: white;
}

.cards.layout-50-50 > ul {
  grid-template-columns: repeat(1,1fr);
}

.cards > ul > li {
  border-radius: 16px;
  min-height: 192px;
  position: relative;
}

.cards > ul > li.linked-card:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(112 112 112);
}

.cards > ul > li.linked-card:focus-within {
  box-shadow: 0 0 0 1px rgba(112 112 112);
}

.cards.layout-50-50 > ul > li {
  display: flex;
  padding: 26px 15px;
  max-height: 192px;
}

.cards > ul > li::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 80%) 100%);
  z-index: -1;
  border-radius: 16px;
}

.cards .cards-card-body {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 72px;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

.cards .cards-card-body > * {
  grid-column: 1;
}

.cards .cards-card-body h4 {
 font-size: 18px;
 margin: 0 0 .25em;
 align-self: end;
}

.cards .cards-card-body h5 {
  font-size: 12px;
  margin: 0;
  align-self: center;
}

.cards .cards-card-body p {
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  border-radius: 8px;
  color: rgba(0 0 0);
  background-color:rgba(230 230 230);
  border-color: rgba(0 0 0 0%);
  width: fit-content;
  padding: 0 10px;
  margin: 0;
}

.cards .cards-card-body p > a {
  color: inherit;
  text-decoration: none;
}

.cards .cards-card-body p:has(a) {
  border-radius: 18px;
  padding: 4px 14px;
  grid-column: 2;
  grid-row: 3;
}

.cards .cards-card-image picture {
  position: absolute;
  inset: 0;
  z-index: -3;
}

.cards .cards-card-image picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  z-index: -2;
}

.cards .cards-card-image picture.card-fg-image {
  left: unset;
  bottom: 12px;
  z-index: -2;
}

.cards .cards-card-image picture.card-fg-image img {
  width: auto;
  object-fit: contain;
}


@media (width >= 600px) {
  .cards .cards-card-body h4 {
    font-size: 22px;
   }
   
   .cards .cards-card-body h5 {
     font-size: 14px;
   }
}

@supports (container-type: inline-size) {
  .cards.layout-50-50 {
    /* stylelint-disable-next-line property-no-unknown */
    container-type: inline-size;
  }

  /* stylelint-disable-next-line at-rule-no-unknown */
  @container (min-width: 61rem) {
    .cards.layout-50-50 > ul {
      grid-template-columns: repeat(2,1fr);
    }
  }
}


@supports not (container-type: inline-size) {
  @media (width >= 900px) {
    .cards.layout-50-50 > ul {
      grid-template-columns: repeat(2,1fr);
    }
  }
}
