/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable length-zero-no-unit */
.cards-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.cards-carousel .cards-carousel-slide-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: height 0.2s linear;
  height: 100%;
  width: 100%;
  margin: 20px auto;
  gap: 15px;
  position: relative;
}

.cards-carousel .carousel-nav {
  display: flex;
  position: absolute;
  top: 50%;
  z-index: 4;
  height: 36px;
  width: 36px;
  color: rgb(109 109 109);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 16.0784%);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.cards-carousel .carousel-nav-prev {
  left: 0;
  content: '';
  background: url('../../icons/arrow-left.svg') left no-repeat;
  background-color: rgba(255, 255, 255, 1);
  fill: #f00;
}

.cards-carousel.hide-prev .carousel-nav-prev {
  display: none;
}

.cards-carousel .carousel-nav-next {
  right: 0;
  background: url('../../icons/arrow-right.svg') left no-repeat;
  background-color: rgba(255, 255, 255, 1);
}

.cards-carousel.hide-next .carousel-nav-next {
  display: none;
}

.cards-carousel:not(.hide-next)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 1));
}

.cards-carousel:not(.hide-prev)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 1));
}

.cards-carousel .cards-carousel-slide.card-with-link:hover {
  cursor: pointer;
  transition: all 0.3s linear 0s;
}

.cards-carousel .cards-carousel-slide {
  display: flex;
  border: 1px solid var(--highlight-background-color);
  overflow: hidden;
  background-color: var(--background-color);
  transition: all 0.5s;
  flex-direction: column;
  margin-inline-start: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  max-width: 460px;
  width: 170px;
  height: auto;
  flex-shrink: 0;
  position: relative;
  outline: none;
}

.cards-carousel .cards-carousel-slide .hide {
  display: none;
}

.cards-carousel .cards-carousel-slide img {
  height: 224px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 361/242;
  border-radius: 16px 16px 0 0;
}

.cards-carousel .cards-card-body {
  margin: 0 24px 24px;
}

.cards-carousel .cards-card-body h3 {
  color: #002f6d;
  font-size: var(--body-font-size-xl);
  letter-spacing: var(--letter-spacing-3);
}

.cards-carousel .cards-card-body .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--ff-myradpro-semibold);
  letter-spacing: 0.64px;
  transition: all 0.3s linear 0s;
}


@media (prefers-color-scheme: dark) {
  .cards-carousel .cards-carousel-slide {
    background-color: var(--spectrum-gray-100);
    border-color: var(--spectrum-gray-200);
  }
}

@media screen and (min-width: 768px) {
  .cards-carousel .cards-carousel-slide {
    width: 350px;
  }
  
}