/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable length-zero-no-unit */
.cards-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.cards-carousel .cards-carousel-slide-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: height 0.2s linear;
  height: 100%;
  width: 100%;
  margin: 20px auto;
  gap: 15px;
  position: relative;
}

.cards-carousel .carousel-nav {
  display: flex;
  position: absolute;
  top: 50%;
  z-index: 4;
  height: 36px;
  width: 36px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.cards-carousel .carousel-nav-prev {
  left: 0;
  content: '';
  background: url('../../icons/arrow-left.svg') left no-repeat;
  background-color: rgba(255, 255, 255, 1);
  fill: #f00;
}

.cards-carousel.hide-prev .carousel-nav-prev {
  display: none;
}

.cards-carousel .carousel-nav-next {
  right: 0;
  background: url('../../icons/arrow-right.svg') left no-repeat;
  background-color: rgba(255, 255, 255, 1);
}

.cards-carousel.hide-next .carousel-nav-next {
  display: none;
}

.cards-carousel:not(.hide-next)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 1));
}

.cards-carousel:not(.hide-prev)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 1));
}

/* .cards-carousel .cards-carousel-slide.card-with-link:hover {
  cursor: pointer;
  transition: all 0.3s linear 0s;
} */

.cards-carousel .cards-carousel-slide {
  display: flex;
  border: 1px solid var(--highlight-background-color);
  overflow: hidden;
  background-color: var(--background-color);
  transition: all 0.5s;
  flex-direction: column;
  margin-inline-start: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  max-width: 460px;
  width: 170px;
  height: auto;
  flex-shrink: 0;
  position: relative;
  outline: none;
}

.cards-carousel .cards-carousel-slide:hover{
  border: 1px solid rgb(177, 177, 177);
}

.cards-carousel .cards-carousel-slide .hide {
  display: none;
}

.cards-carousel .cards-carousel-slide img, .cards-carousel .cards-carousel-slide video {
  height: 132px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 361/242;
  border-radius: 16px 16px 0 0;
}

.cards-carousel .cards-carousel-slide h3 strong{
  color: black;
}

.cards-carousel .cards-carousel-slide p{
  color: black;
  font-size: 12px;
  min-height: 35px;
  line-height: 1.3;
}

.cards-carousel .cards-card-body {
  margin: 0 24px 24px;
}

.cards-carousel .cards-card-body h3 {
  color: #002f6d;
  font-size: var(--body-font-size-xl);
  letter-spacing: var(--letter-spacing-3);
}

.cards-carousel .card-link {
  display: flex;
  margin: auto;
  padding-bottom: 12px;
  justify-content: flex-end;
  flex-direction: column;
}

.cards-carousel .card-link p{
  display: flex;
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 0 14px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  bottom: 0;
}

.cards-carousel .card-link p:hover{
  background-color: rgb(0, 0, 0);
}

.cards-carousel .card-link p a{
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.2;
  text-align: center;
  text-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  .cards-carousel .cards-carousel-slide {
    background-color: var(--spectrum-gray-100);
    border-color: var(--spectrum-gray-200);
  }

  .cards-carousel:not(.hide-next)::after {
    background-image: linear-gradient(to right, transparent, rgb(29 29 29));
  }

  .cards-carousel:not(.hide-prev)::before {
    background-image: linear-gradient(to left, transparent, rgb(29 29 29));
  }

  .cards-carousel .carousel-nav-prev, .cards-carousel .carousel-nav-next {
    background-color:rgb(63, 63, 63);
  }

  .cards-carousel .cards-carousel-slide h3 strong{
    color: white;
  }

  .cards-carousel .cards-carousel-slide p{
    color: white;
  }

  .cards-carousel .card-link p{
    background-color: rgb(112, 112, 112);
  }

  .cards-carousel .card-link:hover p{
    background-color: rgb(84, 84, 84);
  }
}

@media screen and (min-width: 768px) {
  .cards-carousel .cards-carousel-slide {
    width: 350px;
  }

  .cards-carousel .card-link {
   flex-direction: row;
   margin: -8px 16px 0;
  }

  .cards-carousel .card-link p{
    border-radius: 16px;
  }
  
  .cards-carousel .cards-carousel-slide img, .cards-carousel .cards-carousel-slide video {
    height: 224px;
  }
  
}