/* stylelint-disable no-descending-specificity */
/* stylelint-disable color-function-notation */

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 10%);
  position: relative;
}

#results {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.intro {
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  padding-top: 20px;
}

.filter{
  width: 100%;
}

#language {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 5px;
  margin-left: 20px;
  position: relative;
  flex-grow: 1; /* Add this line */
}

#search {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 100%; /* Add this line */
  box-sizing: border-box; /* Add this line */
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #888;
}

.key-container {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
  width: 100%;
}

.copy-button {
  margin-left: 10px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.copy-button:hover {
  color: #666;
}

.autocomplete-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 10%);
  max-height: 180px;
}

.autocomplete-suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.autocomplete-suggestion:hover {
  background-color: #f0f0f0;
}

#results p {
  background: #fafafa;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.hidden {
  display: none !important;
}

.offscreen {
  position: absolute;
  top: -1000px;
}

.note {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 10%);
}

.note p {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.5;
}

.note p:last-child {
  margin-bottom: 0;
}

.note p::before {
  content: "\26A0\FE0F";
  margin-right: 5px;
  font-size: 16px;
}
