
.superhero {
  position: relative;
  height: calc(80vh - var(--navbar-height));
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: unset;
  max-width: unset;
  min-width: 100%;
}

.superhero .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-bottom: 40px;
  color: var(--fill-color);
  text-align: center;
}

.superhero h1 {
  font-weight: 900;
  font-size: 32px;
  font-style: normal;
  line-height: normal;
  max-width: 288px;
}

.superhero .image-container img {
  width: 100%;
  height: calc(80vh - var(--navbar-height));
  object-fit: cover;
  transition: opacity 1s ease-in-out, filter .5s ease-in-out;
}

.superhero .image-container img.active {
  min-width: 100vw;
  opacity: 1;
  filter: brightness(1) blur(0);
}

.superhero .image-container img:not(.active) {
  display: none;
  opacity: 0;
  filter: brightness(0) blur(10);
}

.superhero .generate-button {
  cursor: pointer;
}

.superhero .generate-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background: var(--fill-color) 0% 0% no-repeat padding-box;
  /* stylelint-disable-next-line color-function-notation */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 16.1%);
  border-radius: var(--spectrum-global-dimension-size-200);
  opacity: 1;
  width: 95%;
  margin: 0 auto;
  min-width: var(--spectrum-global-dimension-size-750);
  min-height: var(--spectrum-global-dimension-size-800);
  height: fit-content;
  color: var(--spectrum-global-color-gray-800);
  padding: var(--spectrum-global-dimension-size-150) var(--spectrum-global-dimension-size-200);
  box-sizing: border-box;
  font-size: var(--spectrum-font-size-300);
  text-align: center;
  cursor: default;
  z-index: 2;
}

.superhero .generate-input {
  max-width: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-style: italic;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.superhero .generate-input.selected {
  font-style: normal;
}

.superhero .content-container button {
  width: 100%;
  background-color: var(--spectrum-button-background-color-default);
  border-color: var(--spectrum-button-border-color-default);
  color: var(--spectrum-button-content-color-default);
  transition: border-color var(--spectrum-button-animation-duration) ease-in-out;
  border-radius: var(--spectrum-button-border-radius);
  border-style: solid;
  border-width: var(--spectrum-button-border-width);
  font-size: var(--spectrum-button-font-size);
  font-weight: var(--spectrum-bold-font-weight);
  gap: var(--spectrum-button-padding-label-to-icon);
  min-block-size: var(--spectrum-button-height);
  min-inline-size: var(--spectrum-button-min-width);
  padding-block: 0;
  padding-inline: var(--spectrum-button-edge-to-text);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content:center;
}

.superhero .content-container button:hover {
  background-color: var(--spectrum-button-background-color-hover);
}

.superhero .content-container button::before {
  content: "";
  width: 18px;
  height: 18px;
  pointer-events: none;
  background-image: url('/img/firefly/generate.svg');
  background-repeat: no-repeat;
}


.superhero .author {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  right: 10px;
  color: #FFF;
  font-weight: bold;
}

/* stylelint-disable-next-line no-descending-specificity */
.superhero .author img {
  display: unset;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (width >= 767px) {
  .superhero .generate-form {
    width: 80%;
    flex-direction: row;
  }

  .superhero .content-container button {
    width: 30%;
  }

  .superhero h1 {
    font-weight: 900;
    font-size: 70px;
    font-style: normal;
    line-height: 90px;
    max-width: 100%;
  }
}

@media (width >= 1500px) {
  .superhero .content-container button {
    width: 13%;
  }

}

@media (prefers-color-scheme: dark) {
  .superhero .generate-form {
    background-color: var(--spectrum-global-color-gray-50);
    color: var(--spectrum-button-content-color-default);
  }
}