.firefly-footer {
  align-self: center;
  padding: 35px 24px 0;
  font-size: 11px;
  line-height: normal;
}

.firefly-footer > div{
  border-top: solid 1px rgba(213,213,213);
  margin-top: 10px;
}

.firefly-footer > div:nth-child(1){
  padding-top: 8px;
  padding-bottom: 8px;
}

.firefly-footer > div:first-of-type p{
  text-decoration: none;
  color: inherit;
  font-style: italic;
  text-align: left;
  margin: 0;
}

.firefly-footer img[src$=".svg"] {
  height: 16px;
}

.firefly-footer .footer-links ul{
  list-style-type: none;
}

.firefly-footer .footer-links > div > div:nth-child(2) ul{
  display: flex;
  flex-flow: wrap;
  gap: 8px;
  padding: inherit;
  margin-bottom: 20px;
}

.firefly-footer .footer-links > div > div:nth-child(2) ul a{
  text-decoration: none;
  text-align: center;

}


@media (width >= 600px) {
  .firefly-footer > div:first-of-type p{
    text-align: center;
  }

  .firefly-footer .footer-links > div{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
  }

  .firefly-footer .footer-links > div > div:nth-child(2) ul{
    gap: 16px;
  }

  .firefly-footer .footer-links > div > div:last-of-type {
  margin-left: auto;
}
}
