/* stylelint-disable selector-class-pattern */
@import url('https://main--milo--adobecom.hlx.live/libs/blocks/global-navigation/global-navigation.css');

header {
  .feds-topnav-wrapper {
    justify-content: space-between;
  }

  .feds-brand-image{
    width: inherit;
  }

  .feds-navItem{
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-decoration: none;
    vertical-align: top;
  }

  .feds-navLink:hover{
    color: inherit;
  }

  .feds-navItem .feds-cta{
    font-size:14px;
    font-weight: 700;
    line-height: 18.2px;
    color: inherit;
    background-color: inherit;
    border-color: rgba(213 213 213);
  }

  .feds-navItem a.feds-cta[href*="discord"]::before {
    content:'';
    width: 18px;
    height: 14px;
    background: url('/aemedge/icons/discord.svg') left no-repeat;
    display: inline-block;
    margin-right: 9px;
  }


  .feds-navItem a.feds-cta[daa-ll="Upgrade"]::before {
    content:'';
    width: 18px;
    height: 14px;
    background: url('/aemedge/icons/crown.svg') left no-repeat;
    display: inline-block;
    margin-right: 9px;
  }

  .feds-navItem a.feds-cta[href*="discord"] {
    display: none;
  }

  .feds-navItem a.feds-cta[daa-ll="Upgrade"] {
    display: none;
  }


  .feds-profile > .feds-signIn{
    font-size:14px;
    font-weight: 700;
    line-height: 18.2px;
    color: inherit;
    background-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    border-color: rgba(213 213 213);
    display: flex;
    height: 32px;
    min-width: 72px;
    padding: 0 14px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    transition-property: color, border-color, background-color;
    transition-duration: 130ms;
    transition-timing-function: ease-out;
    cursor: pointer;
    text-transform: capitalize;
  }

  .feds-profile::before{
    content:'';
    width: 18px;
    height: 24px;
    border-right: solid 1px rgba(177 177 177);
    display: inline-block;
    margin-right: 9px;
  }

  .feds-profile > .feds-signIn:hover,
  .feds-navItem .feds-cta:hover{
    background-color:rgba(177 177 177);
    color: inherit;
  }

  .feds-navItem a[daa-ll*="What's-New"] {
    font-size: 0;
    padding: 0;
  }

  .feds-navItem a[daa-ll*="What's-New"]::before {
    content:'';
    width: 18px;
    height: 18px;
    background: url('/aemedge/icons/whats-new.svg') left no-repeat;
    display: inline-block;
  }

  .feds-navItem a[daa-ll*="What's-New"]::after {
    content:unset;
  }


  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] {
    font-size: 0;
  }

  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"]::before {
    content:'';
    width: 18px;
    height: 18px;
    background: url('/aemedge/icons/feedback.svg') left no-repeat;
    display: inline-block;
    margin-right: 9px;
  }

  .feds-navItem > button.feds-navLink.feds-navLink--hoverCaret[daa-ll*="Feedback"]::after {
    content:unset;
  }

  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"]+ .feds-popup{
    width: 225px;
    padding:6px 12px 9px;
  }

  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] + .feds-popup .feds-menu-content .feds-menu-column ul > li {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; 
    
  }
  
  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] + .feds-popup .feds-menu-content .feds-menu-column ul > li > a {
    grid-row: 1; 
    grid-column: 2;
    font-weight: 400;
    font-size: 14px;
    padding: inherit;
  }
  
  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] + .feds-popup .feds-menu-content .feds-menu-column ul > li > picture {
    grid-row: 1; 
    grid-column: 1; 
    margin-right:8px;
    justify-self: center;
    align-self: center; 
  }
  
  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] + .feds-popup .feds-menu-content .feds-menu-column ul > li > ul {
    grid-row: 2;
    grid-column: 2; 
    font-style: italic;
    color: rgba(109 109 109);
    font-weight: 500;
    font-size: 12px;
  }
}

  @media (width >= 600px) {    
    .feds-nav-wrapper {
      justify-content: center;
    }
    
    .feds-navItem a.feds-cta[href*="discord"] {
      display: inline-block;
      padding: 5px;
    }

    .feds-navItem a.feds-cta[daa-ll="Upgrade"] {
      display: inline-block;
      padding: 5px;
    }
  }