.firefly-gallery {
  margin: 0 auto;
  padding: 10px;
}

.card-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 10px; /* make the row height small and set the span via js */
  grid-gap: 10px;
}

.card {
  position: relative;
}

.card > img {
  width: 100%;
  height: 100%;
}

.card .card-details {
  display: none;
}

.card:hover .card-details {
  display:flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* stylelint-disable-next-line color-function-notation */
  background-color: rgba(0, 0, 0, 61%);
  color: white;
  padding: 10px;
}

.card .card-details .author img {
  vertical-align: middle;
  padding-right: 10px;
}

/* 
@media (width >= 450px) {
  .card-container {
    column-count: 2;
  }
}

@media (width >= 600px) {
  .card-container {
    column-count: 3;
  }
}

@media (width >= 900px) {
  .card-container {
    column-count: 4;
  }
} */