.firefly-gallery {
  width: calc(4 * 360px);
  margin: 0 auto;
  padding: 10px;
}

.card-container {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-flow: column wrap;
  width: calc(4 * 360px); /* 4 cards per row */
  max-height: calc(12 * 360px); /* 12 rows atleast */
  gap: 5px 10px;
}

.card {
  position: relative;
}

.card .card-details {
  display: none;
}

.card:hover .card-details {
  display:flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* stylelint-disable-next-line color-function-notation */
  background-color: rgba(0, 0, 0, 61%);
  color: white;
  padding: 10px;
}