/* stylelint-disable no-descending-specificity */
/* stylelint-disable color-function-notation */
/* stylelint-disable selector-class-pattern */

/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 :root {
  --navbar-height: 56px;
  --fill-color: rgb(255, 255, 255);
  --spectrum-global-dimension-size-200: 16px;
  --spectrum-global-dimension-size-750: 60px;
  --spectrum-global-dimension-size-800: 64px;
  --spectrum-global-color-gray-800: rgb(34, 34, 34);
  --spectrum-global-dimension-size-150: 12px;
  --spectrum-font-size-300: 18px;

  /* Button */
  --spectrum-button-background-color-default: rgba(2, 101, 220);
  --spectrum-button-background-color-hover: rgba(0, 84, 182);
  --spectrum-button-border-color-default: transparent;
  --spectrum-button-content-color-default: rgb(255, 255, 255);
  --spectrum-button-animation-duration: 130ms;
  --spectrum-button-border-radius: 20px;
  --spectrum-button-border-width: 2px;
  --spectrum-button-font-size: 16px;
  --spectrum-bold-font-weight: 700;
  --spectrum-button-padding-label-to-icon: 9px;  
  --spectrum-button-height: 40px;
  --spectrum-button-min-width: calc(40px * 2.25);
  --spectrum-button-edge-to-text: 18px;

  /* Colors */
  --spectrum-global-color-gray-50: rgb(29 29 29);
  --spectrum-gray-100: rgb(50, 50, 50);
  --spectrum-gray-200: rgb(63, 63, 63);
  --spectrum-gray-500: rgb(109, 109, 109);


  /* Modal display */
  .block.modal {
    display: block;
  }
  
  /* Navigation CSS Updates */
.feds-topnav {
  max-width: none;
  justify-content: unset;
  justify-items: unset;
}

  .feds-topnav-wrapper {
    justify-content: space-between;
  }

  .feds-brand-image{
    width: inherit;
  }

  .feds-brand-image img{
    height: 28px;
  }

  .feds-navItem{
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-decoration: none;
    vertical-align: top;
  }

  .feds-navLink:hover{
    color: inherit;
  }

  .feds-navItem .feds-cta{
    font-size:14px;
    font-weight: 700;
    line-height: 18.2px;
    color: inherit;
    background-color: inherit;
    border-color: rgba(213, 213, 213);
  }

  .feds-navItem a.feds-cta[href*="discord"]::before {
    content:'';
    width: 18px;
    height: 14px;
    background: url('../../icons/discord.svg') left no-repeat;
    display: inline-block;
    margin-right: 9px;
  }

  .feds-navItem a.feds-cta[href*="discord"] {
    display: none;
  }


  .feds-profile > .feds-signIn{
    font-size:14px;
    font-weight: 700;
    line-height: 18.2px;
    color: inherit;
    background-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    border-color: rgba(213, 213, 213);
    display: flex;
    height: 32px;
    min-width: 72px;
    padding: 0 14px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    transition-property: color, border-color, background-color;
    transition-duration: 130ms;
    transition-timing-function: ease-out;
    cursor: pointer;
    text-transform: capitalize;
  }

  .feds-profile::before{
    content:'';
    width: 18px;
    height: 24px;
    border-right: solid 1px rgba(177, 177, 177);
    display: inline-block;
    margin-right: 9px;
  }

  .feds-profile > .feds-signIn:hover,
  .feds-navItem .feds-cta:hover{
    background-color:rgb(230, 230, 230);
    color: inherit;
  }

  .feds-navItem a[daa-ll*="What's-New"] {
    font-size: 0;
    padding: 0;
  }

  .feds-navItem a[daa-ll*="What's-New"]::before {
    content:'';
    width: 18px;
    height: 18px;
    background: url('../../icons/whats-new.svg') left no-repeat;
    display: inline-block;
  }

  .feds-navItem a[daa-ll*="What's-New"]::after {
    content:unset;
  }


  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] {
    font-size: 0;
  }

  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"]::before {
    content:'';
    width: 18px;
    height: 18px;
    background: url('../../icons/feedback.svg') left no-repeat;
    display: inline-block;
    margin-right: 9px;
  }

  .feds-navItem > button.feds-navLink.feds-navLink--hoverCaret[daa-ll*="Feedback"]::after {
    content:unset;
  }

  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"]+ .feds-popup{
    width: 225px;
    padding:6px 12px 9px;
  }

  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] + .feds-popup .feds-menu-content .feds-menu-column ul > li {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; 
    
  }
  
  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] + .feds-popup .feds-menu-content .feds-menu-column ul > li > a {
    grid-row: 1; 
    grid-column: 2;
    font-weight: 400;
    font-size: 14px;
    padding: inherit;
  }
  
  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] + .feds-popup .feds-menu-content .feds-menu-column ul > li > picture {
    grid-row: 1; 
    grid-column: 1; 
    margin-right:8px;
    justify-self: center;
    align-self: center; 
  }
  
  .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] + .feds-popup .feds-menu-content .feds-menu-column ul > li > ul {
    grid-row: 2;
    grid-column: 2; 
    font-style: italic;
    color: rgba(109,109,109);
    font-weight: 500;
    font-size: 12px;
  }

  .feds-utilities .feds-navItem {
    padding: 10px;
  }

  .feds-utilities .feds-navItem > button.feds-navLink[daa-ll*="Feedback"] {
    padding: 0;
  }

  .feds-utilities .feds-navItem:not(:has(.feds-cta )):hover {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
  }

  .feds-utilities .feds-navItem:not(:has(.feds-cta )) *:hover {
    background-color: rgb(230, 230, 230);
  }

  .feds-utilities .feds-navItem:has(.feds-cta ){
    padding: 0;
  }

  .feds-utilities .feds-navLink {
    column-gap: 0;
  }

  p.button-container {
    align-items: center;
    display: flex;
  }

  p.button-container a {
    justify-content: center;
    border: 2px solid rgb(2, 101, 220);
    border-radius: 16px ;
    background-color: rgb(2, 101, 220);
    color: white;
    font-size: 14px;
    padding: 0 14px;
    font-weight: 700;
    text-decoration: none;
  }

  p.button-container:hover a {
    border: 2px solid rgb(0, 84, 182);
    background-color: rgb(0, 84, 182);
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  /* SUSI Light Style */
  .sentry-wrapper {
    display: flex;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    content: '';
    background-color: rgba(0 0 0 / 50%);
    align-items: center;
    justify-content: center;
    z-index: 99;
  }

  .sentry-wrapper.hidden {
    display: none;
  }
  
  susi-sentry {
    display: flex;
    position: absolute;
    align-items: center;
    justify-items: center;
    border-radius: 8px;
    height: 480px;
    width: 384px;
    background-color: white;
    padding: 20px;
    z-index: 100000000000; /* SUSI should be higher than everything */
  }

  susi-sentry.dark {
    background-color: #1D1D1D;
  }
  
  .susiDarkTheme {
    background-color: var(--spectrum-global-color-gray-50);
  }
  
  .susiLightTheme {
    background-color: white;
  }
  
  .susiWrapper {
    display: block;
    height: var(--spectrum-global-dimension-size-4600);
  }

  .universal-nav-container #universal-nav::before {
    content: '';
    width: 1px;
    height: 24px;
    background-color: rgba(177 177 177);
    margin: 0 10px 0 16px;
  }

  @media (width >= 600px) {
    main > div > div {
      max-width: 1500px;
      margin: 0 auto;
    }

    main > .section > .content {
      max-width: 1500px;
    }

    .feds-brand{
      margin-left: 10%;
    }
    
    .feds-nav-wrapper {
      justify-content: center;
      flex-grow: 0;
      margin-left: 2%;
    }

    .feds-utilities {
     margin-left: auto;
    }

    .feds-navItem a.feds-cta[href*="discord"] {
      display: inline-block;
      padding: 5px;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--spectrum-global-color-gray-50);
      color: var(--spectrum-button-content-color-default);
    }
  }

}
